* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 30px;
    background-color: #5a5a5a;
  }
  
  body {
    width: 100vw;
    background-color: #fff;
    overflow-x: hidden;
  }
  
  
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
    background-color: #1CA832;
    box-shadow: 0 20px 10px #00000010;
    transition: all 0.2s ease;
  }
  
  .header h1 {
    display: grid;
    place-items: center;
  }
  
  .header h1 a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .header button {
    padding: 5px;
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
    border-radius: 30px;
  }
  
  .header .menu-container {
    position: absolute;
    z-index: 1;
    top: -50vh;
    right: 0;
    height: fit-content;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff90;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
  }
  
  .header .outside {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .menu-container .menu-content {
    width: 90%;
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .menu-content h3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
  }
  
  .menu-content ol {
    margin-top: 20px;
  }
  
  .menu-content ol li {
    display: flex;
  }
  
  .menu-content ol li a {
    padding: 10px 0px;
    font-weight: 500;
    color: #555;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  .menu-content ol li:hover a {
    color: #1CA832;
    font-weight: 600;
    margin-left: 10px;
  }
  
  /*main*/
  
  .main {
    width: 100%;
    padding: 10vh 40% 0 80px;
  }
  
  .main h2 {
      font-size: 28px;
  }
  
  .main .title {
      width: fit-content;
      margin-top: 30px;
      font-size: 22px;
      padding-bottom: 10px;
  }
  
  .main .title::after {
      content: '';
      position: absolute;
      left: 0;
      margin-top: 45px;
      height: 6px;
      width: 30%;
      background-color: #EE2877;
  }

  .main .pembuka {
    text-align: justify;
    margin-top: 20px;
}

.wrap {
    height: fit-content;
    width: 100vw;
    padding: 150px 75% 0 80px;
    margin: 355px 0 0 -80px;
    background-color: #1CA832;
}

.batu {
  position: absolute;
  height: fit-content;
  margin-top: -400px;
  width: 100%;
  padding-right: 46%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.logam, .plastik, .kayu, .keramik {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.logam, .plastik, .kayu, .keramik {
    margin-top: 120px;
}

.teks-awal {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 10px 10px #00000020;
}

.img-wrap {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.img {
    height: 180px;
    width: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 10px 10px #00000020;
}

.img:not(:nth-child(1)) {
    margin-left: 50px;
}

.batu .batu-bahan {
    background-image: url(../img/Untitled-1.png);
}

.batu .batu-alat {
    background-image: url(../img/penghancur-batu.jpg);
}

.batu-produk {
    background-image: url(../img/produk-batu.jpg);
    background-position-y: 0%;
}

.wave {
    position: absolute;
    left: 0;
    z-index: -10;
    margin-top: 100px;
}

.logam-bahan {
  background-image: url(../img/bahan-logam.jpg);
}

.logam-alat {
  background-image: url(../img/mesin-logam.jpg);
}

.logam-produk {
  background-image: url(../img/produk-logam.png);
}

.plastik-bahan {
  background-image: url(../img/bahan-plastik.jpg);
}

.plastik-alat {
  background-image: url(../img/alat-plastik.jpg);
}

.plastik-produk {
  background-image: url(../img/produk-plastik.jpg);
}

.kayu-bahan {
  background-image: url(../img/kayu-bg.jpg);
}

.kayu-alat {
  background-image: url(../img/alat-kayu.jpg);
}

.kayu-produk {
  background-image: url(../img/produk-kayu.jpg);
}

.keramik-bahan {
  background-image: url(../img/bahan-keramik.jpg);
}

.keramik-alat {
  background-image: url(../img/keramik-alat.png);
}

.keramik-produk {
  background-image: url(../img/kerajinan-keramik.jpeg);
}

.btn-navigate {
  margin-top: 50px;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-navigate button {
  padding: 10px 20px;
  background-color: #EE2877;
  border-radius: 30px;
  border: none;
  box-shadow: 0 10px 10px #00000030;
}

.btn-navigate button a {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}

.btn-navigate button a .iconify {
  margin-left: 8px;
}

.btn-navigate button:nth-child(1) a .iconify {
  margin-left: 0;
  margin-right: 8px;
}

@media(max-width: 500px){
  .header {
    padding: 0 30px;
  }

  .header .menu-container {
    left: 0;
    width: 100vw;
  }

  .main {
    width: 100%;
    margin-top: 10vh;
    padding: 0 30px 0 30px;
  }

  .main p {
    font-size: 15px;
  }

  .wrap {
    padding: 850px 30px 0 30px;
    margin: 175px 0 0 -30px;
    left: 0;
  }

  .batu {
    left: 0;
    margin-top: -950px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .teks-awal {
    width: 100%;
  }

  .img-wrap {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .img:nth-child(2) {
    margin-left: 40px;
    margin-top: 30px;
  }

  .img:nth-child(3) {
    margin-top: 30px;
    margin-left: 100px;
  }

  .btn-navigate {
    left: 30px;
    width: 100%;
  }

  .btn-navigate button {
    font-size: 14px;
  }
}